<h2>Welcome back</h2>
<form action="/welcome/welcome" method="post">
  <input type="text" name="name" placeholder="Enter User Name">
  <input type="text" name="password" placeholder="Enter Password">
  <input type="submit" value="Login">
</form>
